@use "../util" as u;

.bio-card {
  padding: var(--spacing);
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-base);
  max-width: 400px;
  margin: auto;
  text-align: center;

  &__image {
    width: 100px;
    border-radius: 50%;
    margin-bottom: var(--spacing);
  }

  &__name {
    @include u.fluid-type(24, 32);
    // font-size: 1.5rem;
    // font-size: clamp(
    //   1.5rem,
    //   1.2727272727272727rem + 0.9696969696969697vw,
    //   2rem
    // );
    margin-bottom: 0.5rem;
  }

  &__bio {
    margin-bottom: var(--spacing);
  }
}
