.skills-gallery {
    padding: var(--spacing);
    text-align: center;
  
    &__title {
      font-size: 1.5rem;
      font-size: clamp(1.5rem, 1.2727272727272727rem + 0.9696969696969697vw, 2rem);
      margin-bottom: var(--spacing);
    }
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: var(--spacing);
      list-style: none;
      // justify-items: center;
    }
  
    &__item {
      display: block;
      padding: 0.75rem 1rem;
      background-color: var(--color-secondary);
      color: var(--color-bg);
      text-decoration: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, background-color 0.3s ease;
  
      &:hover {
        background-color: var(--color-primary);
        transform: translateY(-4px);
      }
    }
  }
  